# ESP-IDF / Firmware
firmware/build/
firmware/managed_components/
firmware/dependencies.lock
firmware/sdkconfig
firmware/sdkconfig.old
firmware/*.bin
firmware/*.elf
firmware/*.map

# Node / Next.js
dashboard/node_modules/
dashboard/.next/
dashboard/out/

# Go Backend
backend/main
backend/*.exe

# General
.env
venv/
.venv/
.vscode/
.idea/
*.log
.DS_Store
